{% extends "base.html" %}

{% block title %}{{ problem.title }}{% endblock %}

{% block content %}
    <h1>{{ problem.title }}</h1>
    <p><strong>Difficulty:</strong> {{ problem.difficulty }}</p>
    <hr>
    <h3>Description</h3>
    <p>{{ problem.description|linebreaks }}</p>

    <form method="POST" action="{% url 'problem_detail' problem.id %}">
        {% csrf_token %}

        <!--lang selector-->
        <div>
            {{ form.language.label_tag }}
            {{ form.language }}
        </div>
        <br>
        <div>
            {{ form.code.label_tag }}<br>
            {{ form.code }}
        </div>
        <br>
        <div>
            {{ form.cinput.label_tag }}<br>
            {{ form.cinput }}
        </div>
        <br>
        <button type="submit" name="action" value="run" id="run-btn">run</button>
        <button type="submit" name="action" value="testcase" id="ctestcase-btn">testcase</button>
        <button type="submit" name="action" value="submit" id="submit-btn">submit</button>
    </form>
    <br><br>

    <!-- stdout/stderr section -->
     {% if status %}
        <h3>Submission Status</h3>
        <pre style="background-color: #f5f5f5; border: 1px solid #ccc; padding: 10px;">{{ status }}</pre>
    {% endif %}
    
     {% if coutput %}
        <h3>output</h3>
        <pre style="background-color: #f5f5f5; border: 1px solid #ccc; padding: 10px;">{{ coutput }}</pre>
    {% endif %}

    {% if cerror %}
        <h3>Error</h3>
        <pre style="background-color: #f5f5f5; border: 1px solid #ccc; padding: 10px;">{{ cerror }}</pre>
    {% endif %}

    <br>
    <a href="{% url 'problem_bank' %}">Back to Problem List</a>
{% endblock %}