<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Login{% endblock %}</title>
    {% load static %}
    
</head>
<body>
    <h2>Login</h2>

    {% if messages %}
        <ul class="message">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <div class="signup">
        <p>Don't have an account? <a href="{% url 'signup' %}">Register up here</a>.</p>
    </div>
</body>
</html>

{% block styles %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock %}